Opdracht 1 - Anypoint/src/main/mule/bussimulator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="d07e01a3-a6c5-4f4a-b73f-ef635fcc8a1c" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<wsc:config name="QBUZZ_Webservices" doc:name="Web Service Consumer Config" doc:id="7fefb8a2-f8e0-4458-bb63-7f5e85e8bc6a" >
		<wsc:connection wsdlLocation="http://localhost:8888/QBUZZServices?wsdl" service="QbuzzServicesService" port="QbuzzServicesPort" address="http://localhost:8888/QBUZZServices" />
	</wsc:config>
	<flow name="bussimulatorFlow" doc:id="f17189b3-63a3-491c-bf46-f0649e640a49" >
		<jms:listener doc:name="On New Message" doc:id="63902ac1-1d5d-460e-90a0-33dff45d426a" destination="BUSQUEUE" config-ref="JMS_Config" inboundContentType="application/xml" ackMode="AUTO">
		</jms:listener>
		<choice doc:name="Choice" doc:id="c1d15958-9979-478c-9410-bd8021a5140a" >
			<when expression='#[payload.Bericht.bedrijf == "QBUZZ"]'>
				<foreach doc:name="For Each" doc:id="b39f0c0a-2aef-4709-88d9-0390381fa982" collection="#[payload.Bericht.ETAs]">
					<async doc:name="Async" doc:id="c44789a4-f613-425e-bb86-188ef8069ebd" >
						<choice doc:name="Choice" doc:id="53d3ac12-2c4e-4066-8d01-9caf7fec986d">
					<when expression='#[vars.counter ~= "1"]'>
						<ee:transform doc:name="Transform Message" doc:id="6299379f-0373-4aad-9432-942be320056d">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#receiveBusBijEindpunt: {
		aankomstbericht: {
			busID: vars.rootMessage.payload.Bericht.busID,
			lijn: vars.rootMessage.payload.Bericht.lijnNaam,
			eindpunt: vars.rootMessage.payload.Bericht.eindpunt,
			aankomsttijd: payload.aankomsttijd
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume doc:name="Consume" doc:id="0d23650f-7fd1-4187-8769-ecb5cd6dc7ec" config-ref="QBUZZ_Webservices" operation="receiveBusBijEindpunt" target="response" />
						<logger level="INFO" doc:name="Logger" doc:id="3b27e549-90af-4fce-a491-c79edc22cabc" message='#["&gt;&gt;" ++ vars.rootMessage.payload.Bericht.ETAs[0].aankomsttijd as String]' />
					</when>
							<otherwise>
								<ee:transform doc:name="Transform Message" doc:id="218e43f1-8ff6-49db-baa4-773be969220f">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#receiveBusBijHalte: {
		haltebericht: {
			busID: vars.rootMessage.payload.Bericht.busID,
			lijn: vars.rootMessage.payload.Bericht.lijnNaam,
			halte: vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].halteNaam,
			tijd: vars.rootMessage.payload.Bericht.tijd,
			eindpunt: vars.rootMessage.payload.Bericht.eindpunt
		}
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
								<wsc:consume doc:name="Consume" doc:id="f2cda402-a0ad-4b17-89b0-e3aaccf8124e" config-ref="QBUZZ_Webservices" operation="receiveBusBijHalte" target="response" />
							</otherwise>
			</choice>
						<ee:transform doc:name="Transform Message" doc:id="13439dd4-770f-4908-abb8-12adcc03eba7">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#logEtas: {
		etaBericht: vars.rootMessage.payload.Bericht
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume doc:name="Consume" doc:id="471277ae-e323-4f8d-95aa-826af7a03b84" config-ref="QBUZZ_Webservices" operation="logEtas" target="response" />
					</async>
					<ee:transform doc:name="Transform Message" doc:id="232dd6c2-be46-48d6-88e5-c0776542e66d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	tijd: vars.rootMessage.payload.Bericht.tijd,
	aankomsttijd: vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].aankomsttijd,
	lijnNaam: vars.rootMessage.payload.Bericht.lijnNaam,
	busID: vars.rootMessage.payload.Bericht.busID,
	bedrijf: vars.rootMessage.payload.Bericht.bedrijf,
	eindpunt: vars.rootMessage.payload.Bericht.eindpunt
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					<jms:publish doc:name="Publish" doc:id="b05c7c22-89d2-49f6-a077-61d1c648ee63" config-ref="JMS_Config" destination='#["IB:" ++ vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].halteNaam ++ ":" ++ 
vars.rootMessage.payload.Bericht.ETAs[vars.counter - 1].richting as String]' />
				</foreach>
			</when>
			<when expression='payload.Bericht.bedrijf == "ARRIVA"'>
				<jms:publish doc:name="Publish" doc:id="77ce16ea-84d6-4a6e-b832-6a8ff0cfa013" config-ref="JMS_Config" destination="ARRIVALOGGER" >
					<jms:message outboundContentType="application/xml">
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="Logger" doc:id="3cb2dd21-5b19-46db-894a-bcd671d52967" message="#[payload]"/>
			</when>
		</choice>
	</flow>
</mule>
